
<%- include('partials/head'); -%>
<%- include('partials/navbar'); -%>

<div class="container-fluid py-3">
	<div class="row">
		<%- include('partials/chat'); -%>
		<%- include('partials/settings'); -%>
		<%- include('partials/to-do-list'); -%>
	</div>
</div>

<%- include('partials/footer'); -%>